.contentMainBody {
  /* padding-top: 1vh;
  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: column; */
}

/* .contentMainBody h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
} */

.contentMainBody .content {
  /* width: 100%;
  display: flex; */
}
